@model IEnumerable<NETD3202_F2022_InstrumentShop.Models.Instrument>

@{
    ViewData["Title"] = "Index";
}
<!-- The Title of the page-->
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Searching">Search Instruments</a>
</p>
<!--Table of all Instruments in the database-->
<table class="table">
    <thead>
        <tr>
            <th>
                Instrument ID
            </th>
            <th>
                Instrument Name
            </th>
            <th>
                Manufacturer ID
            </th>
            <th>
                Type
            </th>
            <th>
                Color
            </th>
            <th>
                Quantity Bought
            </th>
            <th>
                Price Sold
            </th>
            <th></th>
        </tr>
    </thead>
    <!--Goes through each Instrument in the database and displays all infromation accordingly-->
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.instrumentID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.manufacturerID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.quantityBought)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.priceSold)
                </td>
                <!--Edit, Details, and Delete options for each Instrument-->
                <td>
                    <a asp-action="Edit" asp-route-id="@item.instrumentID">Edit</a>
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.instrumentID">Details</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@item.instrumentID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
