@model IEnumerable<NETD3202_F2022_InstrumentShop.Models.Instrument>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Searching">Search Instruments</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.instrumentID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.manufacturerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.quantityBought)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.priceSold)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.instrumentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantityBought)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.priceSold)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.instrumentID">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.instrumentID">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.instrumentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
