@model NETD3202_F2022_InstrumentShop.Models.Manufacturer

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Manufacturer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.manufacturerID)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.manufacturerID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.owner)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.owner)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.city)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.city)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.province)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.province)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.postalCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.postalCode)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.manufacturerID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
