@model IEnumerable<NETD3202_F2022_InstrumentShop.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<!-- The Title of the page-->
<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action="Searching">Search Manufacturers</a>
</p>
<!--Table of all Manufacturers in the database-->
<table class="table">
    <thead>
        <tr>
            <th>
                Manufacturer ID
            </th>
            <th>
                Manufacturer Name
            </th>
            <th>
                Owner Name
            </th>
            <th>
                Phone Number
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Province
            </th>
            <th>
                Postal Code
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <!--Goes through each Manufacturer in the database and displays all infromation accordingly-->
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.manufacturerID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.owner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.province)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postalCode)
            </td>
            <!--Edit, Details, and Delete options for each Manufacturer-->
            <td>
                <a asp-action="Edit" asp-route-id="@item.manufacturerID">Edit</a>
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.manufacturerID">Details</a>
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.manufacturerID">Delete</a>
            </td>
        </tr>
        }
    </tbody>
</table>
